
.mainContent {
    display: flex;
    justify-content: space-between;
    padding: 40px 5vw;
    background-color: #f4f7fb;
    max-width: 100%;
    margin: 0 auto;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.mainContent:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);
}

.leftSide {
    width: 35%;
    padding: 5px;
    background-color: #eaedf1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.leftSide:hover {
    transform: translateY(-5px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
}

.heading,
.subheading {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    text-align: left;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.description {
    font-size: 1.125rem;
    color: #666;
    line-height: 1.7;
    margin-bottom: 15px;
    max-width: 90%;
    transition: color 0.3s ease;
}

.description:hover {
    color: #333;
}

.features,
.results {
    list-style-type: none;
    padding: 0;
    font-size: 1.125rem;
    color: #333;
    margin-bottom: 15px;
}

.features li,
.results li {
    margin-bottom: 10px;
    font-weight: 600;
    position: relative;
    padding-left: 20px;
}

.features li::before,
.results li::before {
    content: '✔️';
    position: absolute;
    left: 0;
    color: #549ae7;
    font-size: 1.25rem;
}

.rightSide {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 1px;
    background-color: #eaedf1;
    color: #fac606;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.rightSide:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
}

.purchaseText {
    font-size: 1.125rem;
    color: #e0e0e0;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.purchaseText:hover {
    color: #f3d9aa;
}

.buyButton {
    height: 50px;
    width: 300px;
    padding: 12px 30px;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #eeff7f;
    color: #395581;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.buyButton:hover {
    background-color: #ffb800;
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.buyButton:focus {
    outline: none;
}

.guarantee {
    font-size: 1.125rem;
    color: #e6e6e6;
    margin-top: 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.guarantee:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .mainContent {
        flex-direction: column;
        padding: 30px 15px;
    }

    .leftSide, .rightSide {
        width: 100%;
        margin-bottom: 25px;
    }

    .heading,
    .subheading {
        font-size: 1.875rem;
    }

    .description {
        font-size: 0.9rem;
    }

    .buyButton {
        font-size: 1.125rem;
        padding: 10px 25px;
    }

    .purchaseText {
        font-size: 1rem;
    }

    .guarantee {
        font-size: 0.9rem;
    }
}
.container {
    max-width: 35%;
    border-radius: 15px;
    background-color: #e0e8f8;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif;

}

.title {
    font-size: 25px;
    font-weight: bold;
    color: #06012a;
    text-align: center;
}

.description {
    font-size: 14px;
    line-height: 1.2;
    color: #555;
    margin-bottom: 20px;
}

.highlight {
    font-size: 16px;
    font-weight: 600;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

.registerLink {
    display: inline-block;
    width: 93%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.registerLink:hover {
    background-color: #0056b3;
}

.registrationSteps {
    margin-top: 20px;
}

.stepsTitle {
    font-size: 14px;
    font-weight: bold;
    color: #090434;
    margin-bottom: 15px;
}

.stepsList {
    list-style: decimal;
    margin-left: 10px;
    color: #555;
    font-size: 14px;
    line-height: 1.8;
}

.finalNote {
    font-size: 14px;
    margin-top: 5px;
    color: #111121;
}
