
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(135deg, #0721a1, #eeff7f);
    color: white;
    padding: 25px 15px;
    text-align: center;
    border-bottom: 4px solid #003d6b;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.3s ease-in-out;
    height: auto;
    max-width: 100%;
    z-index: 1;
}

.header:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2); /* Легке зменшення тіні */
}

.logo {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-bottom: 15px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    text-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.2); /* Тіні стали менш помітними */
}

.infoText {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    color: #655d33;
    background: linear-gradient(90deg, #bfdbf8, #e9ecef);
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.infoText:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.infoText span {
    color: #1c77c3;
    font-weight: 600;
}

.logo:hover {
    color: #eeff7f;
    transform: scale(1.05);
}


.navMenu {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
    animation: menuSlideIn 1s ease-out;
}

/* Анімація для меню */
@keyframes menuSlideIn {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navMenu a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.navMenu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #f8a100;
    bottom: -5px;
    left: 50%;
    transition: all 0.3s;
    transform: translateX(-50%);
}

.navMenu a:hover {
    color: #f8a100;
    transform: translateY(-3px);
}

.navMenu a:hover::after {
    width: 100%;
}


@media (max-width: 768px) {
    .header {
        padding: 30px 15px;
    }

    .logo {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .navMenu {
        flex-direction: column;
        gap: 15px;
    }

    .navMenu a {
        font-size: 16px;
    }
}
